@model Giftshop.Application.Models.UserAddressViewModel

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" class="card">
    <div class="card-header">
        <div class="text-right font-italic">
            <h5 class="float-right">#N/A</h5>
            <h5 class="float-left">Create</h5>
        </div>
    </div>
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-2">
            <div class="col-sm-2 float-left pt-2 font-weight-bold ">
                <label asp-for="Country" class="control-label"></label>
            </div>
            <div class="col-sm-10 float-right">
                <input asp-for="Country" class="form-control"/>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2 float-left pt-2 font-weight-bold ">
                <label asp-for="City" class="control-label"></label>
            </div>
            <div class="col-sm-10 float-right">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2 float-left pt-2 font-weight-bold ">
                <label asp-for="PostalCode" class="control-label"></label>
            </div>
            <div class="col-sm-10 float-right">
                <input asp-for="PostalCode" class="form-control"/>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2 float-left pt-2 font-weight-bold ">
                <label asp-for="AddressLine1" class="control-label"></label>
            </div>
            <div class="col-sm-10 float-right">
                <input asp-for="AddressLine1" class="form-control"/>
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2 float-left pt-2 font-weight-bold ">
                <label asp-for="AddressLine2" class="control-label"></label>
            </div>
            <div class="col-sm-10 float-right">
                <input asp-for="AddressLine2" class="form-control"/>
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2 float-left pt-2 font-weight-bold ">
                <label asp-for="AddressLine3" class="control-label"></label>
            </div>
            <div class="col-sm-10 float-right">
                <input asp-for="AddressLine3" class="form-control"/>
                <span asp-validation-for="AddressLine3" class="text-danger"></span>
            </div>
        </div>

        <input type="hidden" asp-for="UserId" />
    </div>
    <div class="card-footer">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary float-right" style="width: 120px" />
            <a asp-action="Index" asp-route-id="@Model.UserId" class="btn btn-primary float-left" style="width: 120px">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
